body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.pacifico{
  font-family: 'Pacifico', cursive;
}

.poppins{
  font-family: 'Poppins', sans-serif;
}

.c-gr{
  color: rgb(92, 92, 92);
}